<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                               http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Hanging Product Store</display-name>
    <servlet>
        <servlet-name>LoadManageProductPageServlet</servlet-name>
        <servlet-class>hps.servlet.LoadManageProductPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductStatusServlet</servlet-name>
        <servlet-class>hps.servlet.SearchProductStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelProductServlet</servlet-name>
        <servlet-class>hps.servlet.CancelProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPaymentPageServlet</servlet-name>
        <servlet-class>hps.servlet.LoadPaymentPageServlet</servlet-class>
    </servlet>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.jspf</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>true</scripting-invalid>
            <include-prelude>/WEB-INF/jsp/base.jspf</include-prelude>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>LoadCancelProductPageServlet</servlet-name>
        <servlet-class>hps.servlet.LoadCancelProductPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCustomerPageServlet</servlet-name>
        <servlet-class>hps.servlet.LoadCustomerPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadManageProductPageServlet</servlet-name>
        <url-pattern>/LoadManageProductPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductStatusServlet</servlet-name>
        <url-pattern>/SearchProductStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelProductServlet</servlet-name>
        <url-pattern>/CancelProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPaymentPageServlet</servlet-name>
        <url-pattern>/LoadPaymentPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCancelProductPageServlet</servlet-name>
        <url-pattern>/LoadCancelProductPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCustomerPageServlet</servlet-name>
        <url-pattern>/LoadCustomerPageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeServlet</welcome-file>
    </welcome-file-list>
</web-app>
