/Source/Source-Code/HangingProductStore/build/
/Source/Source-Code/HangingProductStore/dist/
Source/Source-Code/HangingProductStore/nbproject/private/private.xml
Source/Source-Code/HangingProductStore/nbproject/private/private.properties