/* General CSS */
#wrapper{
    min-height:500px;
    background-color: white;
    width: 90%;
    margin:auto;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #00acc1;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #00acc1;
}
/* parallax */
.parallax-container {
    height: 500px;
}